{% extends "newsletter/common.html" %}

{% load i18n %}

{% block title %}{% trans "Newsletter message" %}{% endblock title %}

{% block body %}
    <h1>New Tuto is online!</h1>

    {% if error %}
        <p>{% trans "Due to a technical error we were not able to submit your confirmation email. This could be because your email address is invalid." %}</p>

        {% comment %} Replace the the following dummy with a valid email address and remove this comment.

        <p>{% trans "If the error persists, please don't hesitate to contact us at the following email address:" %} <a href="contact@coraliegoldbaum.fr">contact@coraliegoldbaum.fr</a></p>

        {% endcomment %}
    {% else %}
        <p>A new article is online! Go to <a href="pythonize.pythonanywhere">pythonize.pythonanywhere</a> to see it.</p>
    {% endif %}
{% endblock body %}
