{% extends "blog/base.html" %} 

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="col-sm-12 main vertical-center">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-6">
				<h1>Sign Up</h1>
				<form method="post">
					{% csrf_token %}
					{% for field in form %}
					    <div class="form-group">
					        <div class="form-errors">{{ field.errors }}</div>
					        <div>{{ field.label_tag }}</div>
					        <div>{{ field }}</div>
					        {% if field.help_text %}
					        	<div class="form-help">{{ field.help_text|safe }}</div>
					        {% endif %}
					    </div>
					{% endfor %}
					<button type="submit" class="btn">Sign Up</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
