{% include "blog/base.html" %} 

<div class="col-sm-12 main">
	<h1>About</h1>

	<p>This website is a project realized during my third and last year at the engineering school IMAC (Paris, France). The goal was to become a specialist in something and to show it other skills. I wanted to be a specialist in Python for the 3D software Maya Autodesk and I decided to show it with a website that contains tutorials.<br>
	I tried to make more than a school project: I wanted to create a website that can be usefull for every 3D artist who wants to pythonize his Maya!<br>
	I hope you like this website and if you want to know more about me and my projects, you can go to my <a href="http://coraliegoldbaum.fr">portfolio</a>.</p>

	<div>
		<a href="http://coraliegoldbaum.fr"><i>Portfolio</i></a>
		<a href="https://www.ingenieur-imac.fr"><i>IMAC</i></a>
	</div>

</div>
