{% extends "blog/base.html" %} 

{% block title %}About{% endblock %}

{% block content %}

<div class="col-sm-12 main vertical-center" id="about">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-6">
				<h1>About</h1>
				
				<br>
				<br>

				<p>This website is a project realized during my third and last year at the engineering school IMAC (Paris, France). The goal was to become a specialist in something and to show it other skills. I wanted to be a specialist in Python for the 3D software Maya Autodesk and I decided to show it with a website that contains tutorials.<br>
				I tried to make more than a school project: I wanted to create a website that can be usefull for every 3D artist who wants to pythonize his Maya!<br>
				I hope you like this website and if you want to know more about me and my projects, you can go to my <a href="http://coraliegoldbaum.fr">portfolio</a>.</p>

				<br>
				<br>

				<div class="rsn container">
					<div class="row justify-content-around">
						<div class="col-2">
							<a href="http://coraliegoldbaum.fr" target="_blank"><i class="fa fa-desktop fa-3x"></i></a>
						</div>
						<div class="col-2">
							<a href="https://www.ingenieur-imac.fr" target="_blank"><i class="fa fa-graduation-cap fa-3x"></i></a>
						</div>
					</div>				
				</div>
			
			</div>
		
		</div>
	</div>
</div>

{% endblock %}
