{% include "blog/base.html" %} 

<div class="col-sm-12 main">
	<div class="container-fluid">
		<div class="row">
			<h1 class="col-12">Tutorials</h1>
			{% for article in articles %}
			<div class="col-4">
				<div class="card">
					<img class="card-img-top" src="{{ article.image }}" alt="Card image cap">
					<div class="card-body">
						<h4 class="card-title">{{ article.part }}. {{ article.titre }}</h4>
						<a href="{% url 'tutorials_details' article.part %}" class="btn">Read</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>	
</div>

