@import url('https://fonts.googleapis.com/css?family=Questrial|Bungee');

/***************************************************************************** COLOR *****************************************************************************/
/* Light            :  #FFF5F5
 * Dark             :  #211919
 * MainColor        :  #754446
 * OtherColorDark   :  #826164 
 * OtherColorLight  :  #5C4446
 */

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	color: #FFF5F5;
	font-family: 'Questrial', sans-serif;
}
	
body.container-fluid, .row {
	min-height: 100%;
}

	
/***************************************************************************** GENERAL *****************************************************************************/

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

a.btn, button.btn, .page-item .page-link {
	color: #FFF5F5;
	background-color: #826164;
	border-color: #5C4446;
	font-weight: bold;
}

a.btn:hover, a.btn:focus, a.btn:active, button.btn:hover, button.btn:focus, button.btn:active, .page-item .page-link:hover, .page-item .page-link:focus, .page-item .page-link:active {
	background-color: #5C4446;
	color: #FFF5F5;
	border-color: #5C4446;
	font-weight: bold;
}

.alert {
	color: #FFF5F5;
}

.alert::before {
  color: #FFF5F5;
  font-weight: bold;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  margin-right: 50px;
  float: left;
  width: 10px;
}

.alert.alert-light {
	background-color: #5C4446;
	border-color: #5C4446;
	min-height: 70px;
}
.alert.alert-light::before { 
  content: "Note";
}

.alert.alert-dark {
	color: #FFF5F5;
	background-color: #826164;
	border-color: #826164;
}

.alert.alert-dar::before { 
  content: "Warning";
}

h1 {
	font-size: 3em;
	text-align: center;
	font-family: 'Bungee', cursive;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 240px; /* 180 + 40 */
    }
}

a:not(.btn) {
	color: #826164;
	font-weight: bold;
}

a:not(.btn):hover, a:not(.btn):focus, a:not(.btn):active  {
	color: #5C4446;
	font-weight: bold;
}

canvas {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1000;
}

p {
	text-align: justify;
}

.main:not(#index) {
	background-color: #211919;
}

/****************************************************************************** NAV ******************************************************************************/

#menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #FFF5F5;
    border-right: 1px solid #eee;
    width: 200px;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#menu ul li {
	margin-bottom: 1px;
	width: 100%;
}

#menu ul li a {
	display: inline-block;
	width: 100%;
	background: #754446;
	color: #FFF5F5;
	text-align: center;
	text-decoration: none;
	padding: 10px;
}

#menu ul li a:hover, #menu ul li a:focus, #menu ul li a:active, #menu ul li a.active {
	background: #211919;
	color: #FFF5F5;
	text-decoration: none;
}

#menu h1 a {
	font-size: 0.5em;
	text-decoration: none;
	color: #211919;
}

#menu h1 a:hover, #menu h1 a:focus, #menu h1 a:active {
	text-decoration: none;
	color: #211919;
}

#menu .sign {
	position: fixed;
	bottom: 5px;
	margin: 5px;
}

/****************************************************************************** INDEX ******************************************************************************/

.fullpage-content {
	text-align: center;
}

.fullpage-content h1 {
	font-size: 4em;
}

/**************************************************************************** TUTORIALS ****************************************************************************/

.card {
	color: #211919;
	background-color: #FFF5F5;
	margin-bottom: 20px;
}

pre code {
	color: #211919;
	background-color: #FFF5F5;
}

.note {
	background-color: orange;
	color: white;
}

pre code, .note, .exercise, .exercise_answer {
	display: block;
	padding: 10px;
}

.exercise {
	border: blue 2px solid;
}

.exercise_answer {
	border: green 2px solid;
}

/****************************************************************************** ABOUT ******************************************************************************/

#about .rsn a {
	color: #FFF5F5;
	text-decoration: none;
	text-align: center;
}

#about .rsn a:hover, #about .rsn a:focus, #about .rsn a:active {
	color: #5C4446;
}
