@import url('https://fonts.googleapis.com/css?family=Questrial|Bungee+Inline');

/***************************************************************************** COLOR *****************************************************************************/
/* Light            :  #FFFFFF
 * Dark             :  #193441
 * MainColor        :  #91AA9D
 * OtherColorDark   :  #3E606F 
 * OtherColorLight  :  #D1DBBD
 */

html, body.container-fluid {
	overflow: auto;
	min-height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	color: #FFFFFF;
	font-family: 'Questrial', sans-serif;
	background-color: #193441;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%233e606f' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%233e606f'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
	
body.container-fluid, .row {
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

	
/***************************************************************************** GENERAL *****************************************************************************/

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

a.btn, input[type=submit], button.btn, .page-item .page-link {
	color: #FFFFFF;
	background-color: #3E606F;
	border: 1px solid #91AA9D;
	font-weight: bold;
	transition: all 0.2s ease-in;
	cursor: pointer;
}

a.btn:hover, a.btn:focus, a.btn:active,
input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active,
button.btn:hover, button.btn:focus, button.btn:active,
.page-item .page-link:hover, .page-item .page-link:focus, .page-item .page-link:active {
	background-color: #193441;
	color: #FFFFFF;
	border: 1px solid #91AA9D;
	font-weight: bold;
	transition: all 0.2s ease-in;
}

input[type=submit]:disabled {
	opacity: 0.5 !important;
}


.alert {
	color: #FFFFFF;
	margin: 20px;
}

.alert::before {
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  margin-right: 50px;
  float: left;
  width: 10px;
}

.alert.alert-light {
	background-color: #D1DBBD;
	border-color: #D1DBBD;
	min-height: 70px;
	color: #193441;
}
.alert.alert-light::before { 
 	content: "Note";
 	color: #193441;
}

.alert.alert-dark {
	color: #FFFFFF;
	background-color: #3E606F;
	border-color: #3E606F;
	min-height: 100px;
}

.alert.alert-dark::before { 
	content: "Warning";
}

h1 {
	font-size: 1em;
	text-align: center;
	font-family: 'Bungee Inline', cursive;
	padding: 10px;
}

@media (min-width: 768px) {
    h1 {
		font-size: 2em;
		padding: 20px;
	}
}

@media (min-width: 1024px) {
    h1 {
		font-size: 3em;
		padding: 30px;
	}
}

a:not(.btn) {
	color: #D1DBBD;
	font-weight: bold;
	transition: all 0.2s ease-in;
}

a:not(.btn):hover, a:not(.btn):focus, a:not(.btn):active  {
	color: #3E606F;
	font-weight: bold;
	transition: all 0.2s ease-in;
}

p {
	text-align: justify;
}

/****************************************************************************** NAV ******************************************************************************/

#menu {
    padding: 20px;
    background-color: #FFFFFF;
    border-right: 1px solid #eee;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#menu ul li {
	margin-bottom: 1px;
	width: 100%;
}

#menu ul li a {
	display: inline-block;
	width: 100%;
	background: #91AA9D;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	transition: all 0.2s ease-in;
}

#menu ul li a:hover, #menu ul li a:focus, #menu ul li a:active, #menu ul li a.active {
	background: #193441;
	color: #FFFFFF;
	text-decoration: none;
	transition: all 0.2s ease-in;
}

#menu h1 {
	margin-top: 50px;
	padding: 0;
}

#menu h1 a {
	font-size: 0.5em;
	text-decoration: none;
	color: #193441;
}

#menu h1 a:hover, #menu h1 a:focus, #menu h1 a:active {
	text-decoration: none;
	color: #193441;
}

#menu .sign {
	position: fixed;
	bottom: 5px;
	margin: 5px;
}

/****************************************************************************** INDEX ******************************************************************************/

.fullpage-content {
	text-align: center;
	margin: 0 auto;
}

.fullpage-content h1 {
	font-size: 2em;
}

@media (min-width: 768px) {
    .fullpage-content h1 {
		font-size: 3em;
	}
}

@media (min-width: 1024px) {
    .fullpage-content h1 {
		font-size: 4em;
	}
}


/**************************************************************************** TUTORIALS ****************************************************************************/

.card {
	color: #193441;
	background-color: #FFFFFF;
	margin-bottom: 5px;
	margin: 5px;
	border: none;
	padding: 10px;
}

/*.card .card-img-top {
	max-height: 300px;
	max-width: 300px;
}*/

.card.done {
	background-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
   .card {
		margin-bottom: 10px;
		margin: 10px;
	}
}

@media (min-width: 1024px) {
   .card {
		margin-bottom: 20px;
		margin: 20px;
	}
}

.note {
	background-color: orange;
	color: white;
}

pre code, .note, .exercise, .exercise_answer {
	display: block;
	padding: 10px;
	margin:  20px;
}

.exercise {
	border: blue 2px solid;
}

.exercise_answer {
	border: green 2px solid;
}

.pagination {
	width: 50%;
  	margin: 0 auto;
}

.pagination .page-item {
	width: 50%;
  	margin: 0 auto;
  	text-align: center;
}


/****************************************************************************** ABOUT ******************************************************************************/

#about .rsn a {
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}

#about .rsn a:hover, #about .rsn a:focus, #about .rsn a:active {
	color: #D1DBBD;
}

/************************************************************************** SIGN UP / IN ***************************************************************************/

form {
    text-align: center;
}

form label {
	text-transform: uppercase;
	font-weight: bolder;
}

form .form-help {
	color: #D1DBBD;
	font-style: italic;
}

form .form-errors {
	color: #FFFFFF;
	background-color: #3E606F;
	border-color: #3E606F;
}

form .form-errors ul li {
	list-style: none;
}

input:not([type=range]), label, select, summary, textarea {
	border-radius: 3px;
	width: 100%;
}

form button {
	margin: auto auto;
}